.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.flex2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.img-container {
    display:flex;
    flex-wrap: wrap;
    width: 1200px;
}
.img-item {
    width:16.5%;
    height:300px;
    text-align: center;
    margin-left: 20px;
}
.table_1 th,td{
    vertical-align: middle;
}
.block_title {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    font-size: 2em;
    background: #ffd6d6;/*背景色*/
    border-left: solid 5px #ff8080;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    margin: 80px 0px 30px 0px;
}
.master_title {
padding: 0.5em;/*文字周りの余白*/
color: #494949;/*文字色*/
background: #ffefdb;/*背景色*/
border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}
.login{
    width: 300px;
    padding: 0.5em 1em;
    margin: 2em 0;
    border-top: solid 7px #808080;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    margin-top: 200px;
}
.login_title {
    color: #808080;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    padding: 0.3em 0;
    border-top: solid 3px #c0c0c0;
    border-bottom: solid 3px #c0c0c0;
    background-color: #f4f4f4;
}